body {
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px; 
    background-color: var(--white);
}

h2 {
    margin: 0;
}

.center-container {
    padding: 20px;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(var(--slate-blue), var(--royal-blue));
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    text-align: center;
}

.result-container h2 {
    color: var(--light-lav);
    font-size: 18px;
}

.result-container h3 {
    margin: 0;
    color: var(--white);
    font-size: 24px;   
}

.result-container p {
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: var(--light-lav);
    font-size: 14px;
}

.result-circle {
    background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
    height: 80px;
    width: 80px;
    margin: 20px;
    padding: 20px;
    border-radius: 50%;
}

.score {
    color: var(--white);
    font-size: 48px;
    font-weight: 800;
}

.maximum {
    color: var(--light-lav);
    font-size: 14px;
    font-weight: 500;
}

.summary-container h2 {
    font-size: 18px;
    color: var(--dark-gray-blue);
}

.summary-container ul {
    list-style-type: none;
}

.ul-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.item-score-container {
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.item-name {
    font-size: 14px;
    font-display: bold;
    margin-left: 5px;
    align-items: center;
}

.item-score {
   margin-left: auto;
   margin-right: 5px;
}

.item-total {
    color: var(--dark-gray-blue);

}

.reaction {
    background-color: hsl(0, 100%, 67%, 0.1);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.1);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.1);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.1);
}


.colrea {
    color: var(--red);
}

.colmem {
    color: var(--yellow);
}

.colver {
    color: var(--green);
}

.colvi {
    color: var(--cobalt-blue);
}

.button-c {
    display: flex;
    justify-content: center;
}

.style-button-c{
    margin-bottom: 20px;
    padding: 15px 110px;
    border-radius: 20px;
    background: var(--dark-gray-blue);
    color: var(--white);
}





